In [1]:
import pandas as pd
import os

folder_path = r"E:\ML Projects\StockSense-Intelligence-Platform\ml_model\dataset"

dfs = []

for file in os.listdir(folder_path):
    if file.endswith(".csv"):
        df = pd.read_csv(os.path.join(folder_path, file))
        dfs.append(df)

combined_df = pd.concat(dfs, ignore_index=True)

In [13]:
len(combined_df)

2510

In [ ]:
combined_df.isnull().sum()

open                0
high                0
low                 0
close               0
volume              0
adj_high            0
adj_low             0
adj_close           0
adj_open            0
adj_volume          0
split_factor        0
dividend            0
name                0
exchange_code     613
asset_type        329
price_currency      0
symbol              0
exchange            0
date                0
dtype: int64

In [12]:
combined_df[combined_df['exchange_code'].isna() | combined_df['asset_type'].isna()]

,open,high,low,close,volume,adj_high,adj_low,adj_close,adj_open,adj_volume,split_factor,dividend,name,exchange_code,asset_type,price_currency,symbol,exchange,date
110,193.650,194.050,190.84,192.58,38084900.0,194.0500,190.840,192.58,193.650,38139504.0,1.0,0.0,Alphabet Inc. Cl A,NaN,Stock,CLP,GOOGL,XNAS,2025-07-28T00:00:00+0000
111,192.430,195.920,192.08,195.75,41350000.0,195.9200,192.080,195.75,192.430,41389153.0,1.0,0.0,Alphabet Inc. Cl A,NaN,Stock,CLP,GOOGL,XNAS,2025-07-29T00:00:00+0000
112,195.600,197.600,194.69,196.53,32332500.0,197.5999,194.685,196.53,195.600,32445405.0,1.0,0.0,Alphabet Inc. Cl A,NaN,Stock,CLP,GOOGL,XNAS,2025-07-30T00:00:00+0000
114,189.030,190.830,187.82,189.13,34797400.0,190.8300,187.820,189.13,189.025,34832181.0,1.0,0.0,Alphabet Inc. Cl A,NaN,Stock,CLP,GOOGL,XNAS,2025-08-01T00:00:00+0000
117,194.500,196.630,193.67,196.09,21529000.0,196.6300,193.670,196.09,194.500,21562908.0,1.0,0.0,Alphabet Inc. Cl A,NaN,Stock,CLP,GOOGL,XNAS,2025-08-06T00:00:00+0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2487,120.200,121.235,119.03,120.04,32343290.0,121.2400,119.030,120.04,120.190,32764044.0,1.0,0.0,WALMART INC,NaN,NaN,ARS,WMT,XNYS,2026-01-14T00:00:00+0000
2488,119.950,120.870,118.73,119.20,34400307.0,120.8700,118.730,119.20,119.980,34559430.0,1.0,0.0,WALMART INC,NaN,NaN,ARS,WMT,XNYS,2026-01-15T00:00:00+0000
2489,118.670,120.600,116.90,119.70,415038700.0,120.6000,116.900,119.70,118.670,415144621.0,1.0,0.0,WALMART INC,NaN,NaN,ARS,WMT,XNYS,2026-01-16T00:00:00+0000
2490,120.890,121.620,117.61,118.71,45106665.0,121.6200,117.610,118.71,120.890,45070139.0,1.0,0.0,WALMART INC,NaN,NaN,ARS,WMT,XNYS,2026-01-20T00:00:00+0000
2491,118.075,120.490,117.55,119.36,34781559.0,120.4900,117.545,119.36,118.075,34811697.0,1.0,0.0,WALMART INC,NaN,NaN,ARS,WMT,XNYS,2026-01-21T00:00:00+0000